---
import Layout from "../layouts/Layout.astro";
import {Icon} from 'astro-icon/components'
---

<Layout title="contact">
<div class="contact mt-10 p-5 flex justify-center flex-col gap-5">
    <div class="flex flex-row justify-center gap-5">
<a href="mailto: yashjksoft@gmail.com" target="_blank"><Icon name="mail" size={30}/></a>
<a href="https://www.linkedin.com/in/jakkula-yashwanth-1854922b9/" target="_blank"><Icon name="linkedin" size={30} /></a>
<a href="https://github.com/Yash-jakkula" target="_blank"><Icon name="github" size={30}/></a>
</div>
<span class="font-semibold flex justify-center">&copy;yashwanth jakkula</span>
</div>
</Layout>