---
import Layout from "../layouts/Layout.astro";

---

<Layout title="projects">

    <div class="flex flex-col mt-10 p-4 md:p-20 gap-10">
        <div class="flex flex-col md:flex-row gap-5">
            <img class="w-full md:w-1/4" src="/buggie.png" alt="buggie" />
            <div class="flex flex-col gap-3">
                <span class="font-extrabold md:text-3xl">Buggie Ride Application</span>
                <span class="bg-slate-900 text-white rounded-2xl w-fit pl-3 pr-3 pt-1 pb-1">2024</span>
                <span class="font-semibold">Developed a ride booking appliction for large campus area which comes with multi-ride accepting feature with distance optimization which reduce the waiting time for on the way destinations and pickups</span>
                <span class="font-semibold text-red-500">Tech Stack : React Native, Node.js, Mongodb, Mapbox</span>
                <a href="https://github.com/Yash-jakkula/buggie_app" target="_blank"> <span class="bg-slate-900 text-white rounded-2xl w-fit pl-3 pr-3 pt-1 pb-2">github</span>
                </a>
            </div>
        </div>
        <div class="flex flex-col md:flex-row gap-5">
            <img class="md:w-1/4 w-full" src="/kk2.jpeg" alt="buggie" />
            <div class="flex flex-col gap-3">
                <span class="font-extrabold md:text-3xl">nutryfoods Web App</span>
                <span class="bg-slate-900 text-white rounded-2xl w-fit pl-3 pr-3 pt-1 pb-1">2024</span>
                <span class="font-semibold">Developed a responsive web application for nutryfood company to make their products available for customers to order from their home which increased the efficiency in maintining of ordering organic food products with product filtering feature</span>
                <span class="font-semibold text-red-500">Tech Stack : React.js, bootstrap, javascript</span>
                <a href="https://www.nutryfood.com" target="_blank"> <span class="bg-slate-900 text-white rounded-2xl w-fit pl-3 pr-3 pt-1 pb-2">Live</span>
                </a>
            </div>
        </div>
        <div class="flex flex-col md:flex-row gap-5 items-center">
            <img class="w-full md:w-1/4" src="/knowvation.jpg" alt="buggie" />
            <div class="flex flex-col gap-3">
                <span class="font-extrabold md:text-3xl">Knowvationlearning Learning portal</span>
                <span class="bg-slate-900 text-white rounded-2xl w-fit pl-3 pr-3 pt-1 pb-1">2024</span>
                <span class="font-semibold">Contributed in developing a responsive web application for Knowvationlernings learning portal which made learning easy and accessible to every aspirant who wants to develop their skills</span>
                <span class="font-semibold text-red-500">Tech Stack : React.js, tailwind, javascript</span>
                <a href="https://www.knowvationlearnings.in" target="_blank"> <span class="bg-slate-900 text-white rounded-2xl w-fit pl-3 pr-3 pt-1 pb-2">Live</span>
                </a>
            </div>
        </div>
    </div>

</Layout>